* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 320px;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.container-url {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.qr-image {
    background-color: hsl(218, 44%, 22%);
    width: 100%;
    border-radius: 10px;
    display: block;
}

h1 {
    font-size: 22px;
    margin: 16px 12px;
    line-height: 1.3;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 1.4;
    padding: 0 12px;
    margin-bottom: 20px;
    font-weight: 400;
}